body {
   margin: 3em 10%;
   font: 24px 'Roboto', sans-serif;
}
nav {
   display: flex;
   flex-flow: column wrap;
   justify-content: space-around;
   align-items: center;
}

nav a{
   text-decoration: none;
   color: whitesmoke;
   transition: .3s;
   background-color: cornflowerblue;
   padding: .5em;
   margin: 1em;
   border-radius: 1em;
}

nav a:hover{
   background-color: darkblue;
   padding: 1em;
}