body {
   margin: 16px;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: space-between;
   
   font: 24px "Roboto", sans-serif;
   text-align: center;
}

h1 {
   font-size: 40px;
   font-weight: bold;
}

h2 {
   font-size: 32px;
   flex: 1 100%;
}

img {
   margin: 0 16px;
   max-width: 400px;
}
.intro-text, 

.figureWrapper{
 
   margin: 0 16px;
}

figcaption
{
   font-size: 24px;
}

a {
   text-decoration: none;
   font-size: 24px;
   font-weight: normal;
   display:block;
   float: left;
}

@media screen and (min-width: 800px){
  body {
     background: #CCC;
     margin: 15px 10%;
  }
   p {
      min-width: 600px;
      max-width: 1000px;
      text-align: left;
   }

   h1,
   h2 {
      flex: 1 100%;
      text-align: center;
   }

   .figureWrapper{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   
      max-width: 1200px;
   }

   figure{
      margin: 0;
   }

   img{
      max-width: 600px;
   }



}
