body{
   display: flex;
   flex-flow: row wrap;
   font-family: 'Helvetica', sans-serif;
   justify-content: center;
   margin: 0 10%;
}

h3 {
   font-size: 28px;
   text-align: center;
   padding: 1em;
   border: 2px solid gray;
   border-radius: 8px;
   font-weight: normal;
}

nav{
width: 100%;
margin: 1em 0;
}

nav a {
   text-decoration: none;
   color: whitesmoke;
   transition: .3s;
   background-color: cornflowerblue;
   padding: .5em;
   margin: .5em;
   border-radius: 1em;
   cursor: pointer;
}

nav a:hover{
   background-color: darkblue;
   padding: 1em;
}