body{
   margin: 1em 20%;
   font: 24px 'Roboto', sans-serif;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-start;
}

nav,
.buttons{
width: 100%;
margin: 1em 0;
}

nav a,
.buttons button{
   text-decoration: none;
   color: whitesmoke;
   transition: .3s;
   background-color: cornflowerblue;
   padding: .5em;
   margin: .5em;
   border-radius: 1em;
}

nav a:hover{
   background-color: darkblue;
   padding: 1em;
}

.buttons{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.buttons button{
   font-size: 24px;
   border: 0;
}

.buttons button:hover{
   background-color: darkblue;
   cursor: pointer;
}

#button2{
   order: 1;
}

#button1{
   order: 2;
}

#button3{
   order:3;
}
.paragraphs {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.paragraphs p,
#quotes,
#poems{
   width: 100%;
   margin: 0;
   text-align: center;
}

.slogans{
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   justify-content: center;
}

.paragraphs p,
.slogan{
   padding: .25em;
}

.slogan{
   width: 100%;
   margin: 0;
   text-align: center;
}




